{{!-- <h3>Node View</h3>
{{message}}

<form action="/message" method="POST">
<input type="email" name="emailname">
<button type="submit">submit</button>
</form>

{{#with emaildocumReter}}
{{this.email}}
{{/with}} --}}