<input type="text" [(ngModel)]="msgObj.content"> 
<!-- two way binding -->
<div class="panel panel-default"  [ngStyle]="{backgroundColor: mycolor}" 
    (mouseenter)="mycolor = 'white'"  (mouseleave)="mycolor = 'lightblue'" >
    <div class="panel-body">
        {{msgObj.content}}
    </div>
    <footer class="panel-footer">
        <div class="author">
            {{msgObj.username}}
        </div>
        <div class="config">
            <a href="#">Edit</a> |
            <a href="#">Delete</a>
        </div>
    </footer>
</div>