<div class="container">
        <div class="row">
            <my-message-input></my-message-input>
        </div>
        <br/>
        <div class="row">
            <my-message-list></my-message-list>
            <!-- <div class="col-md-8 col-md-offset-2">
               //  <my-message [msgObj]="messageObj" ></my-message>   my-message userdefine tag/selector we r adding an userdefine attribute msgObj(which has been property binded with messageObj)
               
                <my-message [msgObj]="listOfmessage" (editClicked)="messageObj.content = $event" *ngFor="let listOfmessage of messageObj"></my-message>
            </div> -->
        </div>
    </div>